In [1]:
#Importing Pacakages
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
#Importing Datasets
train = pd.read_csv("Simulated_Data_Train.csv")
test = pd.read_csv("Simulated_Data_Test.csv")
validation = pd.read_csv("Simulated_Data_Validation.csv")

In [4]:
train.describe()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,card_inq_24_month_num,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,Default_ind
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,17945.000000,20000.000000,18430.000000,20000.000000
mean,94563.702530,14088.235475,296.697000,149.771750,268.015200,0.11135,0.027400,0.030200,329.287867,1.762700,3.409600,0.163050,0.141000,0.503157,0.511007,0.507629,0.489594,0.258550,75499.511666,0.079300
std,23546.443862,9314.495936,61.711702,34.016476,59.364769,0.43389,0.171903,0.171142,2073.899357,1.740816,2.926697,0.386099,0.349607,0.109354,0.113456,0.108624,0.119701,0.437849,16361.955146,0.270213
min,2367.430000,2363.120000,54.000000,21.000000,41.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.065120,0.033749,0.005174,0.000000,0.000000,12000.000000,0.000000
25%,78743.750000,11321.502500,255.000000,127.000000,227.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.429611,0.435171,0.433550,0.409794,0.000000,64000.000000,0.000000
50%,94670.630000,13243.750000,297.000000,150.000000,268.000000,0.00000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.502800,0.509922,0.507193,0.490074,0.000000,75000.000000,0.000000
75%,110329.335000,15196.060000,339.000000,172.000000,308.000000,0.00000,0.000000,0.000000,0.000000,3.000000,5.000000,0.000000,0.000000,0.577412,0.588418,0.581376,0.569036,1.000000,86000.000000,0.000000
max,188890.960000,99999.000000,545.000000,296.000000,520.000000,4.00000,2.000000,1.000000,32662.980000,10.000000,18.000000,2.000000,2.000000,0.969289,0.988964,1.000000,0.970776,1.000000,150000.000000,1.000000

In [5]:
test.describe()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,card_inq_24_month_num,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,Default_ind
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,4501.000000,5000.000000,4617.000000,5000.00000
mean,94598.335178,14271.207212,297.455400,150.363200,268.507200,0.112000,0.028400,0.029600,309.524886,1.752800,3.385600,0.15740,0.147800,0.503483,0.514553,0.509252,0.488635,0.255600,75461.121941,0.08020
std,23770.907497,9765.338330,61.070018,33.356334,58.767701,0.425549,0.178885,0.169498,1967.230995,1.727625,2.905822,0.38086,0.356063,0.110538,0.112672,0.109562,0.121719,0.436242,16084.639051,0.27163
min,10186.280000,4303.350000,86.000000,37.000000,63.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.076329,0.132251,0.084184,0.045845,0.000000,17000.000000,0.00000
25%,78819.300000,11363.035000,256.000000,128.000000,228.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.428067,0.437030,0.435580,0.405533,0.000000,65000.000000,0.00000
50%,94658.315000,13316.525000,297.000000,150.000000,269.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.00000,0.000000,0.502006,0.514345,0.507985,0.485263,0.000000,76000.000000,0.00000
75%,110465.160000,15269.277500,338.000000,173.000000,309.000000,0.000000,0.000000,0.000000,0.000000,3.000000,5.000000,0.00000,0.000000,0.577597,0.589076,0.583905,0.570731,1.000000,86000.000000,0.00000
max,172780.040000,99999.000000,560.000000,283.000000,489.000000,4.000000,2.000000,1.000000,29830.530000,8.000000,15.000000,2.00000,2.000000,0.880152,0.926145,0.870548,0.944912,1.000000,132000.000000,1.00000

In [6]:
validation.describe()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,card_inq_24_month_num,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,Default_ind
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2703.000000,3000.000000,2747.000000,3000.000000
mean,89348.951453,13530.926413,283.314667,147.482333,253.234333,0.129000,0.032333,0.034667,336.234333,0.831667,1.346333,0.183667,0.233333,0.492146,0.485204,0.458791,0.458591,0.257000,82895.158355,0.074000
std,20797.518015,9078.847705,62.777783,30.745484,62.584314,0.480037,0.180644,0.182965,1980.800293,1.356937,2.138670,0.404954,0.423811,0.103540,0.114279,0.104634,0.108007,0.437052,15708.420713,0.261815
min,13137.290000,2910.570000,81.000000,24.000000,76.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.121641,0.066159,0.066824,0.059725,0.000000,27000.000000,0.000000
25%,75621.240000,10883.795000,241.000000,127.000000,210.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.421358,0.408021,0.391069,0.386387,0.000000,72000.000000,0.000000
50%,88874.545000,12755.865000,282.000000,147.000000,251.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.491333,0.480013,0.456713,0.458902,0.000000,83000.000000,0.000000
75%,103651.667500,14601.647500,325.000000,169.000000,296.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.561027,0.563108,0.530650,0.531545,1.000000,93500.000000,0.000000
max,170237.010000,99999.000000,507.000000,253.000000,479.000000,4.000000,2.000000,1.000000,20095.430000,8.000000,13.000000,2.000000,2.000000,0.848864,0.916516,0.824865,0.782227,1.000000,147000.000000,1.000000

In [9]:
#Preprocessing the data (Data Manipulation)

In [10]:
#Data Analysis using Matplotlib in Python

In [11]:
#Data Analysis using ggplot in R

In [12]:
#Logistic Regression Model

In [13]:
#Additional ML Model

In [14]:
#Interpreting Results