In [64]:
import pandas as pd
import numpy as np
import matplotlib as plt

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [65]:
train = pd.read_csv("new_train.csv")
test = pd.read_csv("new_test.csv")
validation = pd.read_csv("new_validation.csv")

In [66]:
train.shape

(18430, 22)

In [67]:
test.shape

(4151, 22)

In [68]:
validation.shape

(2473, 22)

In [69]:
train = train.drop(train.columns[0], axis = 1)
test = test.drop(test.columns[0], axis = 1)

In [70]:
train.shape

(18430, 21)

In [71]:
train.head()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,...,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,States,Default_ind
0,80826.71,15872.99,300.0,114.0,292.0,0.0,0.0,0.0,0.00,3.0,...,0.0,0.0,0.365902,0.475594,0.410504,0.489594,0.0,69000.0,0,0.0
1,96052.60,12178.02,281.0,102.0,232.0,0.0,0.0,0.0,0.00,2.0,...,1.0,0.0,0.542786,0.543158,0.535147,0.587351,0.0,61000.0,1,0.0
2,70727.84,8416.80,227.0,93.0,223.0,2.0,1.0,1.0,11013.96,0.0,...,1.0,0.0,0.448721,0.422809,0.491365,0.466810,0.0,79000.0,6,1.0
3,89198.22,15193.09,319.0,147.0,279.0,0.0,0.0,0.0,0.00,2.0,...,1.0,0.0,0.183918,0.309341,0.254744,0.193060,0.0,76000.0,3,0.0
4,108936.89,14262.34,271.0,100.0,247.0,2.0,1.0,1.0,6087.16,0.0,...,0.0,0.0,0.488145,0.448082,0.414383,0.480357,0.0,68000.0,0,1.0

# Logistic Regression Model

In [72]:
train_x = train[train.columns[0:20]]
train_y = train[train.columns[20]]

In [73]:
train_x.head()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,card_inq_24_month_num,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,States
0,80826.71,15872.99,300.0,114.0,292.0,0.0,0.0,0.0,0.00,3.0,4.0,0.0,0.0,0.365902,0.475594,0.410504,0.489594,0.0,69000.0,0
1,96052.60,12178.02,281.0,102.0,232.0,0.0,0.0,0.0,0.00,2.0,4.0,1.0,0.0,0.542786,0.543158,0.535147,0.587351,0.0,61000.0,1
2,70727.84,8416.80,227.0,93.0,223.0,2.0,1.0,1.0,11013.96,0.0,1.0,1.0,0.0,0.448721,0.422809,0.491365,0.466810,0.0,79000.0,6
3,89198.22,15193.09,319.0,147.0,279.0,0.0,0.0,0.0,0.00,2.0,3.0,1.0,0.0,0.183918,0.309341,0.254744,0.193060,0.0,76000.0,3
4,108936.89,14262.34,271.0,100.0,247.0,2.0,1.0,1.0,6087.16,0.0,4.0,0.0,0.0,0.488145,0.448082,0.414383,0.480357,0.0,68000.0,0

In [74]:
train_y.head()

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Default_ind, dtype: float64

In [75]:
logisticRegr = LogisticRegression()
logisticRegr.fit(train_x, train_y)

LogisticRegression()

In [76]:
class_le = LabelEncoder()
test['States'] = class_le.fit_transform(test['States'].values)
test.dropna()

,tot_credit_debt,avg_card_debt,credit_age,credit_good_age,card_age,non_mtg_acc_past_due_12_months_num,non_mtg_acc_past_due_6_months_num,mortgages_past_due_6_months_num,credit_past_due_amount,inq_12_month_num,...,card_open_36_month_num,auto_open_ 36_month_num,uti_card,uti_50plus_pct,uti_max_credit_line,uti_card_50plus_pct,ind_acc_XYZ,rep_income,States,Default_ind
0,40477.81,7766.64,322.0,181.0,235.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,0.588301,0.711887,0.538456,0.633699,0.0,26000.0,1,0.0
1,106760.98,16606.98,323.0,144.0,273.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.707799,0.739732,0.562194,0.746901,1.0,47000.0,0,0.0
2,121428.34,13910.13,361.0,189.0,350.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.479711,0.434104,0.374705,0.458438,0.0,71000.0,4,0.0
3,96515.05,15436.78,344.0,203.0,343.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.443710,0.474768,0.372028,0.582352,1.0,68000.0,0,0.0
4,123760.22,14213.25,370.0,177.0,347.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.571004,0.472634,0.605137,0.577697,0.0,76000.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4146,90788.44,11646.36,203.0,80.0,180.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.444254,0.629877,0.496559,0.398411,0.0,94000.0,3,0.0
4147,91052.81,16505.20,291.0,122.0,285.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.330706,0.353832,0.485601,0.286623,1.0,73000.0,6,0.0
4148,71061.71,11512.18,348.0,191.0,303.0,0.0,0.0,0.0,0.0,3.0,...,1.0,1.0,0.469755,0.478526,0.460937,0.443688,1.0,94000.0,3,0.0
4149,82162.45,10014.90,357.0,163.0,339.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.089534,0.259846,0.127144,0.178131,0.0,70000.0,4,0.0
4150,116943.32,18042.56,192.0,99.0,189.0,0.0,0.0,0.0,0.0,4.0,...,1.0,0.0,0.575263,0.593724,0.626940,0.503552,0.0,111000.0,4,0.0

In [77]:
test_x = test[test.columns[0:20]]
test_y = test[test.columns[20]]

In [78]:
logisticRegr.predict(test_x)

array([0., 0., 0., ..., 0., 0., 0.])

In [85]:
score = logisticRegr.score(test_x, test_y)
print(f"Model achieved the score of: {round(score * 100, 2)} %")

Model achieved the score of: 92.8 %

# Score: 92.8%